simc/
Temp/
datacache.sqlitedb
WoW7/Support/DataGenerator/build/
WoW7/Support/DataGenerator/generated/
datagenerator

ThousandJabs/Libs/AceAddon-3.0/
ThousandJabs/Libs/AceConsole-3.0/
ThousandJabs/Libs/AceEvent-3.0/
ThousandJabs/Libs/CallbackHandler-1.0/
ThousandJabs/Libs/LibDataBroker-1.1/
ThousandJabs/Libs/LibSharedMedia-3.0/
ThousandJabs/Libs/LibStub/
ThousandJabs_Config/Libs/AceLocale-3.0/
ThousandJabs_Config/Libs/AceGUI-3.0/
ThousandJabs_Config/Libs/AceConfig-3.0/

**/._*
**/.DS_Store
